* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NFM";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

@define-color color-default rgb (130, 130, 130);
@define-color color-visible rgb (255, 255, 255);
@define-color color-urgent rgb (200, 0, 0);

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @color-default;
    border-bottom: 2px solid #333;
}

#workspaces button.visible {
    color: @color-visible;
    border-bottom: 2px solid @color-visible;
}

#workspaces button.urgent {
    color: @color-urgent;
    border-bottom: 2px solid @color-urgent;
}

#clock, #pulseaudio, #tray {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
