* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NFM";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.visible {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#clock, #battery, #pulseaudio, #tray {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
